@import 'highlight.js/styles/github-dark.css';
@import '@fontsource-variable/inter/wght.css';

:root {
  /* Colors */
  --color-llm-text: #FFFFFF;
  --color-bg: #000000;
  --color-bg-primary: #000000;
  --color-bg-secondary: #1b1b1b;
  --color-text-secondary: #777;
  --color-text-primary: #ffffff;

  /* Typography */
  --font-size-base: 1rem;
  --font-family: 'InterVariable', 'Open Sans', sans-serif;
  --font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--color-llm-text);
  background-color: var(--color-bg);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}
